.start-modal {
    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 10000000;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.22);
        & > svg {
            position: absolute;
            right: 50px;
            top: 50px;
            cursor: pointer;
        }
    }
    background-color: #fff;
    padding: 35px 40px 45px 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 40vw;
    &__title {
        margin: 0;
        font-weight: 500;
        text-align: center;
    }
    &__text {
        margin: 0;
        color: #7c7c7c;
        text-align: center;
    }
    &__button {
        background: #006eff;
        width: 100%;
        font-weight: 500;
        text-align: center;
        color: #fff;
        padding: 16px 0 14px 0;
        outline: none;
        border: none;
    }
}
@media (max-width: 900px) {
    .start-modal {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        max-width: none;
        justify-content: center;
        &__button {
            margin-top: 10px;
        }
        &__text {
            margin-bottom: 15px;
        }
    }
}
