.message-hub {
    position: absolute;
    right: 40px;
    bottom: 25px;
    width: max-content;
    cursor: pointer;
    &__icons {
        position: absolute;
        border-radius: 50%;
        display: flex;
        flex-direction: column-reverse;
        gap: 3px;
        bottom: 10px;
        left: -13px;

        svg {
            position: relative;
            width: 28px;
            height: 28px;
            &:nth-child(1) {
                right: -6px;
            }
            &:nth-child(2) {
                right: 5px;
            }
            &:nth-child(3) {
                right: -4px;
            }
            &:nth-child(4) {
                right: -31px;
                bottom: -13px;
            }
            &:nth-child(5) {
                right: -62px;
                bottom: -53px;
                width: auto;
                height: auto;
            }
        }
    }
}
@media (max-width: 650px) {
    .message-hub {
        transform: scale(2);
        bottom: 55px;
        right: 60px;
    }
}
